<ol class="breadcrumb">
  <li><a href="/">首页</a></li>
  <li><a href="/list">列表示例</a></li>
  <li class="active">列表</li>
</ol>

<h1 class="page-header">列表示例</h1>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>name</th>
				<th>pwd</th>
				<th>desc</th>
				<th>remark</th>
			</tr>
		</thead>
		<tbody>
			{{#each list}}
			<tr>
				<td>{{id}}</td>
				<td>{{name}}</td>
				<td>{{pwd}}</td>
				<td>{{desc}}</td>
				<td>{{remark}}</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</div>

{{> script}}
<script src="/js/index.js"></script>